html {
    font-size: 10px;
}

body {
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
}

/* Nav Bar */

.my-nav-bar {
    background-color: #06283D;
    font-size: 2.4rem;
    font-family: 'Caveat', sans-serif;
}

.my-nav-list {
    gap: 3rem;
}

/* Intro Section */

#intro {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding: 5rem;
    background-color: #DFF6FF;
    color: #06283D;
}

#intro h1 {
    font-family: 'Dancing Script', sans-serif;
    font-size: 7rem;
    margin: 5rem 50% 0 0;
}

#intro h2 {
    font-family: 'Dancing Script', sans-serif;
    font-size: 3rem;
    margin: 0 30% 0 0;
}

#intro p {
    font-size: 1.6rem;
    line-height: 2;
    padding: 2rem 20rem 2rem 20rem;
    margin: 0;
}

#intro h3 {
    font-family: 'Dancing Script', sans-serif;
    font-size: 3rem;
    margin: 0 0 0 40%;
}

/* Skills Section */

#skills {
    background-color: #47B5FF;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    color: #06283D;
}

#skills h1 {
    margin: 2rem 0 2rem 0;
    font-family: 'Caveat', sans-serif;
    font-size: 4rem;
}

#skills ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin: 0 0 5rem;
}

.skill-image {
    width: 10rem;
    height: 10rem;
    object-fit: cover;
}

/* Project Section */

#projects {
    background-color: #1363DF;
    padding: 5rem 0 5rem;
}

#projects h1 {
    color: white;
    font-family: 'Caveat', sans-serif;
    font-size: 4rem;
    text-align: center;
}

.my-carousel-image {
    max-width: 35rem;
    max-height: 57rem;
    object-fit: cover;
    margin: 0 auto 2rem;
}

.carousel-item {
    padding: 10rem 0 10rem;
}

.carousel-caption a {
    color: white;
    font-size: 3rem;
    font-family: 'Caveat', sans-serif;
    margin: 0 2rem 0;
}

.carousel-caption p {
    font-size: 1.6rem;
    max-width: 50rem;
    margin: 0 auto;
}

/* Resume Section */

.align-left.slide-in {
    transform: translateX(-50%) scale(.5);
    opacity: 0;
}

.align-right.slide-in {
    transform: translateX(50%) scale(.5);
    opacity: 0;
}

.slide-in.active {
    animation: slideIn 1.5s ease-out forwards;
}

.slide-in.inactive {
    animation: slideOut 1.5s ease-out forwards;
}

@keyframes slideIn {
    to {
        transform: translateX(0%) scale(1);
        opacity: 1;
    }
}

@keyframes slideOut {
    from {
        transform: translateY(0%) scale(1);
        opacity: 1;
    }
    to {
        transform: translateY(50%) scale(.5);
        opacity: 0;
    }
}

#resume {
    background-color: #DFF6FF;
    color: #06283D;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#resume h1 {
    color: #06283D;
    font-family: 'Caveat', sans-serif;
    font-size: 4rem;
    margin: 5rem 0 5rem;
}

.job-container {
    display: flex;
}

.job-type-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 2rem;
    font-size: 1.6rem;
    width: 19.4rem;
}

.job-type-container img {
    width: 6rem;
    height: 6rem;
    border-radius: 180px;
    object-fit: cover;
    margin: .5rem 0 1.5rem;
}

.job-description-container h2, h3 {
    font-size: 2.4rem;
    margin: 0 0 0 2rem;
}

.job-description-container h3 {
    margin: 0 0 2rem 2rem;
    font-size: 2rem;
}

.job-description-container ul {
    font-size: 1.6rem;
    width: 80rem;
    margin: 0 0 5rem;
}

/* Footer */

footer {
    display: flex;
    background-color: #222831;
    padding: 1.6rem;
    justify-content: center;
    font-size: 1.4rem;
    color: #EEEEEE;
}

footer p {
    margin: 0;
}
